<!DOCTYPE html>

<style>
    .menu-icon{
        height: 17px;
        padding: 0px 5px 3px 0px;
    }
    .header-icon{
        height: 22px;
        padding: 0px 10px 0px 10px;
        margin-top: 15px;
    }
</style>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <title>Nathan Hering - @ViewBag.Title</title>
    

    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nathan Hering", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
                <a href="https://github.com/nhering" target="_blank"><img src="~/images/GitHub.png" class="header-icon" /></a>
                <a href="https://www.linkedin.com/in/nathanhering" target="_blank"><img src="~/images/LinkedIn.png" class="header-icon" /></a>
                </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li id="Archive">
                                <a href="~/Portfolio/Archive"><img src="~/images/Python.png" class="menu-icon" /> Archive</a>
                            </li>

                            <li id="EatSomePizza">
                                <a href="~/Portfolio/EatSomePizza"><img src="~/images/JavaScript.png" class="menu-icon" /> Eat Some Pizza</a>
                            </li>

                            <li id="InsuranceQuote">
                                <a href="~/Portfolio/InsuranceQuote"><img src="~/images/ASPNET_MVC.png" class="menu-icon" /> Insurance Quote</a>
                            </li>

                            <li id="LibraryDatabase">
                                <a href="~/Portfolio/LibraryDatabase"><img src="~/images/SQL.png" class="menu-icon" /> Library Database</a>
                            </li>

                            <li id="SlotMachine">
                                <a href="~/Portfolio/SlotMachine"><img src="~/images/Cs.png" class="menu-icon" /> Slot Machine</a>
                            </li>

                            <li id="SurveyToService">
                                <a href="~/Portfolio/SurveyToService"><img src="~/images/Excel.png" class="menu-icon" /> Survey To Service</a>
                            </li>
                        </ul>
                    </li>

                    <li id="resume" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resume <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li id="PDF">
                                <a href="~/Files/Hering, Nathan Resume.pdf" target="_blank"><img src="~/images/PDF.png" class="menu-icon" /> PDF</a>
                            </li>

                            <li id="TXT">
                                <a href="~/Files/Hering, Nathan Resume.txt" target="_blank"><img src="~/images/Txt.png" class="menu-icon" /> TXT</a>
                            </li>

                            <li id="HTML">
                                <a href="~/Resume/HTML"><img src="~/images/HTML5.png" class="menu-icon" /> HTML</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="position: absolute; bottom: 10px;">Copyright &copy; Nathan Hering 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
</body>
</html>