<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <title>Nathan Hering - @ViewBag.Title</title>

    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/resume.css")" rel="stylesheet">
    <link href="@Url.Content("/css/about-me.css")" rel="stylesheet">
    <link href="@Url.Content("/css/layout.css")" rel="stylesheet">
</head>


<body>

    @Html.Partial("_Menu")

    @RenderBody()
    
    <footer class="main-footer">
        Copyright &copy; Nathan Hering @DateTime.Now.Year
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
</body>
</html>